@import url(style.css);

body{
    height: 100vh;
    display: flex;
}

main {
    padding: 17px 20px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
.main-wrap{
    display: flex;
    align-items: center;
    flex-shrink: 1;
    flex-direction: column;
    width: 800px;
}

.card{
    height: min-content;
    font-weight: 500;
    background-color: var(--second-base);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.card>img {
    object-fit: cover;
    max-width: 100px;
    border-radius: 10px;
}

.profile-container {
    margin-left: 8px;

}
.main-wrap > h2{
    display: none;
    

}

@media(min-width: 670px) {
    .main-wrap > h2{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

}