@import url(style.css);

body{
    height: 100vh;
    display: flex;
}

main {
    padding: 17px 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card{
    font-weight: 500;
    background-color: var(--second-base);
    border-radius: 10px;
    padding: 12px 15px;
    margin-top: 10px;
    font-size: 12px;

    max-width: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: content-box;
}
.card:hover{
    border-right:5px solid var(--not-available);
    border-bottom: 5px solid var(--not-available);
    scale: 1.001;
    transition: 0.3s;
}
.main-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-wrap>h3{
    position: absolute;
    top: 50%;
}

.card>img {
    object-fit: cover;
    max-width: 95px;
    border-radius: 10px;
}

.profile-container {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    gap: 1.5px;

}

.status {
    display: flex;
    align-items: center;
    font-weight: 500;

}
.badge{
    display: inline-block;
    border-radius: 6px;
    padding: 4px 10px;
    font-size: 10px;
    margin-right: 5px;
}

h3{
    font-size: 16px;
}

.main-wrap > h2{
    display: none;
    

}

@media(min-width: 670px) {
    .main-wrap > h2{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

}