@import "style.css";

body {
    align-items: center;
}
.back-button {
    margin-top: 30px;
    font-weight: 700px;
    margin-right: 300px;
    align-self: flex-start;
}
.logo-title {
   text-align: center;
    margin-right: 50px;
}
.logo-title p {
    text-align: center;
    font-weight: bold;
    margin-left: 50px;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
}
.logo-title img {
    display: flex;
    position: relative;
    width: 165px;
    height: 165px;
    margin-left:80px;
    align-items: center;
    bottom: -30px;
}
.form-container h3{
   padding: 10px;
}

.form-container input {
    height: 50px;
    border-radius: 10px;
    padding: 20px;
}
.form-container form{
    margin-top: 50px;
    border-radius: 30px;
    padding:20px 20px;
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    bottom: 0px;
}
.form-container .main-button {
    padding: 15px 15px;
    font-weight: 500;
    color: #fff;
    background: var(--brand-color);
    cursor: pointer;
    border-radius: 0.5rem;
    margin-top: 20px;
}
.form-container .main-button  :hover {
    transition: 0.3s;
    opacity: 0.6;
}
.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    align-items: center;
    margin-top: -110px;
}

.remember-forgot #remember {
    margin-right: 5px;
}
.remember-forgot a {
    margin-top: 2px;
}


@media screen and (min-width: 670px) {
    .back-button {
        display: none;
    }
    body {
    align-items: center;
    display: flex;
    }
    .main {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 800px;
        margin: 100px;
    }
    .logo-title {
        text-align: center;
        align-items: center;
        margin: 7px;
    }
    .logo-title img {
        max-width: 100%;
        align-items: center;
        display: flex;
    }
    .form-container{
        width: 200%;
    }
    .form-login input {
        display: flex;
        align-items: center;
        width: 100%;
    }

}


