@import "style.css";

body {
    align-items: center;
}
.back-button {
    margin-top: 30px;
    font-weight: 700px;
    margin-left: 20px;
    align-self: flex-start;
}
.login-title {
    align-items: center;
    margin-left: 100px;
}
.login-title h3 {
    text-align: center;
    font-weight: bold;
    margin-right: 75px;
    font-family: 'Open Sans', sans-serif;

}
.login-title h2 {
    margin-left: 50px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.login-logo img {
    display: flex;
    position: relative;
    width: 165px;
    height: 165px;
    margin-left: 126px;
    align-items: center;
    bottom: -30px;
}
.form-container h3{
   padding: 10px;
}

.form-container input {
    height: 50px;
    border-radius: 10px;
    padding: 20px;
}
.form-container form{
    margin-top: 50px;
    border-radius: 30px;
    padding:20px 20px;
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    bottom: 0px;
}
.form-container .main-button {
    padding: 15px 15px;
    font-weight: 500;
    color: #fff;
    background: var(--brand-color);
    cursor: pointer;
    border-radius: 0.5rem;
    margin-top: 40px;
}
.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    align-items: center;
    margin-top: -110px;
}

.remember-forgot #remember {
    margin-right: 5px;
}
.remember-forgot a {
    margin-top: 2px;
}


@media screen and (min-width: 670px) {
    .back-button {
        display: none;
    }
    .main {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: 20px;
    }
    .login-title {
        padding: 12px;
        text-align: center;
        margin: 50px;
    }
    .logo {
        max-width: 100%;
    }
    .form-input {
        width: 100%;
    }
    .form-container form {
        display: flex;
        width: 360px;
    }
    .form-container input {
        height: 50px;
        border-radius: 10px;
        padding: 20px;
        width: 360px;
    }
    .form-container .main-button {
        width: 360px;
    }
    .remember-forgot {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
}


