@import "style.css";

body {
    font-family: "Poppins";
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* =============navbar================ */
.nav li {
    display: flex;
    margin: 0 25px;
    font-weight: bold;
    color: var(--main-base);
    align-items: center;
    
}

.nav li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}

.nav li a.active, .nav li a:hover{
    transition: .1s;
    border-top: solid 2px;
    border-bottom: solid 2px;
}

.nav li:hover{
    cursor: pointer;
    transition: 0.3s;
}

.nav {
    margin-right: 20px;
    display: flex;
    justify-content: right;
}

.header {
    height: 83px;
    background: var(--brand-color);
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 39px;
    height: 42px;
    margin: 20px 20px;
    color: var(--main-base)
}

.nav ul {
    float: right;
    margin-right: 20px;
     
}

.nav ul {
    margin-left: auto;
}

.expand{
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .expand h1{
    color:var(--main-base);
  }

.check-btn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 83px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
  }

  #check{
    display: none;
  }

  /* ================== end navbar ================= */

  .banner{
    display:flex;
    justify-content: space-between;
    margin: 20px 20px;
    background: var(--brand-color);
    height: 300px;
    border-radius: 15px;
  }

  .banner article{
    padding: 15px 30px;
    color: var(--main-base);
    font-size: 32px;
    font-weight: bold;
    width: 400px;
  }

  .doctor{
    width: 250px;
    height: 300px;
  }

  .expand{
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .footer-nav{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    list-style: none;
    gap: 15px;
  }

  .footer h2{
    font-size: 14px;
    height: auto;
    padding: 30px 0px;
    color: var(--main-base);
    font-weight: bold;
    
  }

  .socmed{
    display: flex;
    list-style: none;
  }

  article button{
    background: var(--main-base);
    color: var(--main-base);
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    width: 85;
    height: 36;
}

    .find-doctor a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: var(--brand-color);
        
    }

    footer{
        display: flex;
        justify-content: space-between;
        background: var(--danger);
        margin-top: 100px;
        padding-right: 15px;
    }

    .footer{
        list-style: none;
        padding-top: 15px 0px;
        margin-right: 15px;
        height: 260px;
    }

    .footer li a{
        text-decoration: none;
        color:white;
        
    }

    .footer .footer-nav a:hover{
        border-top: var(--main-base) solid 2px;
        border-bottom: var(--main-base) solid 2px;
        
    }

    .social-icon {
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        margin-top: 10px; 
        margin-bottom: 0; 
        padding: 0; 
        position: relative;
        bottom: 50px; 
        right: 10px;
    }

    .social-icon li {
        margin: 0 5px; /* Atur jarak antara ikon sosial */
    }

    .social-icon li svg{
        width: 40px;
        display: flex;
        margin: 0px;
        margin-top: 10px;
        padding: 0px;
        text-decoration: none;
        height: auto;
    }

    .skilhealth{
        display: flex;
        justify-content: left;
        align-items: center;
      }

    .skilhealth img{
        width: 95px;
        height: 100px;
    }

    .skilhealth h1{
        color: var(--main-base);
    }

   

  @media (max-width: 952px){

    /*------------------- navbar------------- */
    .header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .check-btn{
        display: flex;
        float: right;
      }

      .nav{
        position: absolute;
        z-index: 999;
        width: 100%;
        height: auto;
        background: var(--brand-color);
        top: 83px;
        left: -200%;
        text-align: center;
        transition: all .5s;
        border-top: solid white 2px;
        display: flex;
        flex-direction: column;
      }
      .nav li{
        display: block;
        margin: 10px 0;
        line-height: 30px;
       
      }
      .nav li a{
        font-size: 20px;
      }
      .nav li a:hover,a.active{
        background: none;
      }
      #check:checked ~ .nav{
        left: 0;
      }
      /*-------------------end navbar------------- */


      .banner{
          display:flex;
          justify-content: space-between;
          margin: 26px 26px;
          background: var(--brand-color);
          height: 150px;
          border-radius: 15px;
        }
      
        .banner article{
          padding: 15px 30px;
          color: var(--main-base);
          font-size:18px;
          font-weight: bold;
          width: 400px;
        }
      
        .doctor{
          width: 100px;
          height: 150px;
          border-radius: 15px;
        }
  
        article button{
          margin-top: 20px;
        }
  
        .expand h1{
          display: none;
        }

        .skilhealth h1{
            display: none;
          }

        .skilhealth img{
            width: 40px;
            height: 40px;
        }

        .footer li{
            font-size: 8px;
        }

        .footer p{
            font-size: 8px;
        }

        .footer-nav{
            gap: 5px;
        }

        footer{
            margin-top: 150px;
        }

        .social-icon li svg{
            width: 32px;
        }
  }


  @media (max-width: 481px){
    /* =============navbar================= */
    .header{
        height: 50px;
    }

    .nav{
        padding: 10px;
        top: 50px
    }

    /*-------------------enf  navbar------------- */

    .doctor{
        height: 100px;
    }

    .banner{
        height: 100px;
    }

    .banner article{
        padding-left: 10px;
        font-size: 8px;
    }

    .banner article button{
        height: 20px;
        width: 100px;
        margin-top: 10px;
        padding-bottom: 20px;
      }
    
    .banner article button a{
        font-size: 8px;
       
    }  
    footer{
        margin-top: 30px;
        height: auto;
    }   

    .footer p{
        margin-bottom: 40px;
    }
    .skilhealth{
        margin-bottom: 200px;
    }
    
    .social-icon{
        
        bottom: 100px;
    }

    .social-icon li svg{
        margin-top: 65px;
    }

    .footer h2{
        font-size: 8px;
      }

  }
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(140vh - 80px);
  }