@import "style.css";

main {
    font-family: "Poppins";
}

.nav li {
    display: inline-block;
    line-height: 83px;
    margin: 0 5px;
    font-weight: bold;
    color: var(--main-base);
}

.nav li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}

.nav li:hover{
    cursor: pointer;
    transition: 0.3s;
}

.nav {
    float: right;
    margin-right: 20px;
    
}

.header {
    height: 83px;
    background: var(--brand-color);
}

.logo {
    width: 39px;
    height: 42px;
    margin: 20px 20px;
}

.nav ul {
    float: right;
    margin-right: 20px;
     
}

.nav ul {
    margin-left: auto;
}

.check-btn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
  }

  #check{
    display: none;
  }

  @media (max-width: 952px){
    logo{
      
      padding-left: 50px;
    }
    .nav li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .check-btn{
      display: block;
    }
    .nav{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: var(--brand-color);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    .nav li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
     
    }
    .nav li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ .nav{
      left: 0;
    }
  }
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 20px);
  }