@import "style.css";

main {
    font-family: "Poppins";
}


/* =============navbar================ */
.nav li {
    display: flex;
    margin: 0 25px;
    font-weight: bold;
    color: var(--main-base);
    align-items: center;
    
}

.nav li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}

.nav li a.active,a:hover{
    transition: .1s;
    border-top: solid 2px;
    border-bottom: solid 2px;
}

.nav li:hover{
    cursor: pointer;
    transition: 0.3s;
}

.nav {
    margin-right: 20px;
    display: flex;
    justify-content: right;
}

.header {
    height: 83px;
    background: var(--brand-color);
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 39px;
    height: 42px;
    margin: 20px 20px;
    color: var(--main-base)
}

.nav ul {
    float: right;
    margin-right: 20px;
     
}

.nav ul {
    margin-left: auto;
}

.expand{
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .expand h1{
    color:var(--main-base);
  }

.check-btn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 83px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
  }

  #check{
    display: none;
  }

  /* ================== end navbar ================= */

  .banner{
    display:flex;
    justify-content: space-between;
    margin: 20px 20px;
    background: var(--brand-color);
    height: 300px;
    border-radius: 15px;
  }

  .banner article{
    padding: 15px 30px;
    color: var(--main-base);
    font-size: 32px;
    font-weight: bold;
    width: 400px;
  }

  .doctor{
    width: 250px;
    height: 300px;
  }

  .expand{
    display: flex;
    justify-content: left;
    align-items: center;
  }

  article button{
    background: var(--main-base);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    width: 85;
    height: 36;
}

    .find-doctor a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--brand-color);
    }

    .find-doctor a {
        align-items: center;    
    }

    footer{
        display: flex;
        justify-content: space-between;
        background: var(--danger);
        margin-top: 200px;
    }

    .footer{
        list-style: none;
        padding-top: 15px 0px;
        margin-right: 15px;
    }

    .footer li a{
        text-decoration: none;
        color:white;
    }

  @media (max-width: 952px){

    /*------------------- navbar------------- */
    .header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .check-btn{
        display: flex;
        float: right;
      }

      .nav{
        position: absolute;
        width: 100%;
        height: 300vh;
        background: var(--brand-color);
        top: 83px;
        left: -200%;
        text-align: center;
        transition: all .5s;
        border-top: solid white 2px;
        display: flex;
        flex-direction: column;
      }
      .nav li{
        display: block;
        margin: 10px 0;
        line-height: 30px;
       
      }
      .nav li a{
        font-size: 20px;
      }
      .nav li a:hover,a.active{
        background: none;
      }
      #check:checked ~ .nav{
        left: 0;
      }
      /*-------------------end navbar------------- */


      .banner{
          display:flex;
          justify-content: space-between;
          margin: 26px 26px;
          background: var(--brand-color);
          height: 150px;
          border-radius: 15px;
        }
      
        .banner article{
          padding: 15px 30px;
          color: var(--main-base);
          font-size:18px;
          font-weight: bold;
          width: 400px;
        }
      
        .doctor{
          width: 100px;
          height: 150px;
          border-radius: 15px;
        }
  
        article button{
          margin-top: 20px;
        }
  
        .expand h1{
          display: none;
        }
  }


  @media (max-width: 481px){
    /* =============navbar================= */
    .header{
        height: 50px;
    }

    .nav{
        padding: 10px;
        top: 50px
    }

    /*-------------------enf  navbar------------- */

    .doctor{
        height: 100px;
    }

    .banner{
        height: 100px;
    }

    .banner article{
        font-size: 8px;
    }

    article button{
        margin-top: 15px;
        height: 20px;
        width: 100px;
      }
    
    article button a{
        font-size: 8px;
        align-items: center;
        text-align: center;
        margin-bottom: 8px;
        
        
    }
  }
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(140vh - 80px);
  }