@import "style.css";

main {
    margin-top: 20px;
}
.back-button {
    margin-top: 30px;
    font-weight: 700px;
    margin-left: 20px;
    align-self: flex-start;
}
.title img{
    display: flex;
    width: 64px;
    height: 68px;
    margin-left: 175px;
    margin-top: 10px;
}

.title p {
  text-align: center;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.form-container form{
    margin-top: -15px;
    border-radius: 30px;
    padding:20px 20px;
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    bottom: 0px;
}
.form-container input {
    height: 50px;
    border-radius: 10px;
    padding: 10px;
}
.form-container select {
    height: 50px;
    border-radius: 10px;
    padding: 10px;
}
.form-container h3{
    padding: 5px;
 }
 .form-container .regis-button {
    padding: 10px 10px;
    font-weight: 500;
    color: #fff;
    background: var(--brand-color);
    cursor: pointer;
    border-radius: 0.5rem;
    margin-top: 20px;
}
.form-container .regis-button :hover {
    transition: 0.3s;
    opacity: 0.6;
}

.konfir-link {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    align-items: center;
    margin-top: -110px;
}

.konfir-link a {
    margin-top: 20px;
}

.remember-link {
    text-decoration: none;
    margin-left: 200px;
    cursor: pointer;
}

@media screen and (min-width: 620px) {
    .back-button {
        display: none;
    }
    body {
        align-items: center;
        display: flex;
    }
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .form-container {
        width: 200%;
    }
    .title {
        align-items: center;
        flex-direction: column;
        margin: 20px;
    }
    .logo p {
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .title img {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
    }
    .form-container a {
        text-align: right;
    }
}