@import url(style.css);


main {
    padding: 17px 20px;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.main-wrap {
    width: 100%;
    max-width: 450px;
}

.form-box {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--second-base);
    border-radius: 10px;

    margin-top: 20px;
    padding: 17px 13px;

    width: 100%;
}

.input-wrap {
    display: flex;
    width: 100%;
    margin-bottom: 12px;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
}

.input-wrap>input,
select {
    width: 100%;
    border: solid 0.4px;
    border-radius: 10px;
    padding: 8px;
    background-color: var(--main-base);
}
.input-wrap>input{
    padding:15px ;
}

.btn-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px 30px;
}

.btn-container>button {
    padding: 8px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: var(--brand-color);
    color: var(--main-base);
}

.card>h2 {
    display: none;
    margin-bottom:20px ;
}

@media screen and (min-width: 620px) {
    .card>h2 {
        display: flex;
        justify-content: center;
    }
    .card{
        padding: 20px 50px;
        margin-top: 0;
    }
    main{
        align-items: center;
    }
    
}