@import url("../css/style.css");

body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card{
    background: var(--second-base);
    margin: 15px;
    padding: 15px;
    border-radius: 12px;
    max-width: 800px;
}

.card-head{
    display: flex;
    align-items: center;
}

.card-head figure img{
    width: 100px;
    border-radius: 12px;
}

.card-head ul{
    list-style: none;
    margin-left: 15px;
}

.card-head ul li{
    font-size: 14px;
}

.status{
    display: flex;
    align-items: center;
    
}

.status #status-color{
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
}

.status #detail-status{
    margin-left: 5px;
}

.doctor-status #name{
    font-size: 16px;
    font-weight: bold;
}

.doctor-description{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}

.experience ul{
    list-style: disc;
    list-style-position: inside;
}

.doctor-description{
    font-size: 14px;
}