@import url("../css/style.css");

body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
}

.card{
    background: var(--second-base);
    margin: 15px;
    padding: 15px;
    border-radius: 12px;
    max-width: 800px;
    align-items: center;
}

.card-head{
    display: flex;
    align-items: center;
}

.card-head figure img{
    width: 100px;
    border-radius: 12px;
}

.card-head ul{
    list-style: none;
    margin-left: 15px;
}

.card-head ul li{
    font-size: 14px;
}

.status{
    display: flex;
    align-items: center;
    
}

.status #status-color{
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
}

.status #detail-status{
    margin-left: 5px;
}

.doctor-status #name{
    font-size: 16px;
    font-weight: bold;
}

.doctor-description{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}

.experience ul{
    list-style: disc;
    list-style-position: inside;
}

.doctor-description{
    font-size: 14px;
}

.set-schedule{
    max-width: 800px;
    background-color: var(--second-base);
    margin: 15px;
    padding: 15px;
    border-radius: 12px;

}

.set-schedule h1{
    text-align: left;
}

.available-schedule ul{
    margin-top: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.available-schedule ul li{
    border: solid 3px;
    padding: 10px;
    border-radius: 12px;
    font-size: 8px;
}

.available-schedule ul li:hover{
    transition: 0.3s;
    color: var(--brand-color);

}

.available-schedule input{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

@media(min-width: 670px){
    
    .card{
        margin: 30px;
    }
    .card-head ul li{
        font-size: 18px;
    }

    
    .doctor-status #name{
        font-size: 22px;
        font-weight: bold;
    }

    .doctor-description{
        font-size: 18px;
    }
}